body {
    font-size: 18px;
    background-color: rgb(36, 36, 36);
    color: blanchedalmond;
    width: 100%
}

header {
    text-align: center;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    border-bottom: 2px solid coral;
}

main {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 40em;
    width: 80%;
    margin: auto;
}

img {
    display: block;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}

p::first-letter{
    font-size: 200%;
}