body {
    font-size: 18px;
    background-color: rgb(36, 36, 36);
    color: blanchedalmond;
    width: 100%
}

header {
    text-align: center;
    width: 100%
}

main {
    max-width: 40em;
    width: 80%;
    margin: auto;
}